html {
  margin: 0 auto;
  padding: 0;
}
body {
  border: 0;
  color: #8a8a8a;
  font: normal 13px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}
* {
  outline: none;
}
.main {
  background: none repeat scroll 0 0 #EEEEEE;
  margin: 0 auto;
  padding: 0;
  height: 110px;

}
.clr {
  clear: both;
  font-size: 0;
  line-height: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
}
h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0;
  padding: 34px 0 0 0;
}
h2 {
  color: #212121;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 10px 0;
  text-transform: none;
}
p {
  margin: 0;
  padding: 8px 0;
}
a {
  color: #809712;
  text-decoration: none;
}
a:active {
  color: #809712;
  text-decoration: underline;
}
a:hover {
  color: #809712;
  text-decoration: underline;
}
img {
  border: none;
}
.header,
.content,
.menu_nav,
.fr_bottom,
.footer,
form,
ol,
ol li,
ul,
.content {
  margin: 0;
  padding: 0;
}
.mainbar {
  margin: 0;
  padding: 0;
}
.content {
  margin: 0;
  padding: 0;
}
.sidebar {
  margin: 0;
  padding: 0;
}
/* header */
.header {
  width: 960px;
    margin: 0 auto;
}
.header_resize {
  margin: 0 auto;
  padding: 0;
  width: 970px;
}
.header_inner {
  width: 960px;
  margin: 0 auto;
}
.logo {
  float: left;
  padding: 0;
  width: auto;
}
.logo_name {
  font-size: 30px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0;
  padding: 4% 0 0 0;
  text-transform: none;
}
.logo_name a {
  color: #212121;
  text-decoration: none;
}
h1 a:hover {
  color: #212121;
  text-decoration: none;
}
.logo_slogan {
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.2em;
  margin: -6px 0 0;
  text-transform: none;
}
h1 {
  color: #fff;
  font-size: 40px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0;
  padding: 34px 0 0;
  text-transform: none;
}
h1 a {
  color: #fff;
  text-decoration: none;
}
h1 a:hover {
  color: #fff;
  text-decoration: none;
}
h1 span {
  color: #adc002;
}
h1 small {
  color: #fff;
  display: none;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.2em;
  margin: -6px 0 0;
  text-transform: none;
}
/* breadcrumb */
.breadcrumb {
  margin: 0 auto;
  padding: 20px 0 10px 2px;
  width: 960px;
}
/* menu */
.menu_nav {
  float: right;
}
.menu_nav ul {
  list-style: none outside none;
  padding: 0;
}
.menu_nav ul li {
  float: left;
  margin: 0;
  padding: 0 5px 0 0;
}
.menu_nav ul li a {
  background: #7a9206 none repeat scroll 0 0;
  background-size: 0 0;
  border-radius: 4px;
  color: #ecf39a;
  display: block;
  font-size: 15px;
  font-weight: normal;
  height: 15px;
  line-height: 15px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.menu_nav ul li.active a,
.menu_nav ul li a:hover {
  color: #fff;
}
/* content */
.content_resize {
  margin: 0 auto;
  padding: 5px 0;
  width: 960px;
}
.content .mainbar {
  float: left;
  margin: 0 0 24px;
  padding: 0;
  width: 668px;
}
.content .mainbar h2 {
  font-size: 28px;
}
.content .mainbar h2 a {
  color: #000;
  font-size: 28px;
  text-decoration: none;
}
.content .mainbar h2 a:hover {
  color: #000;
  font-size: 28px;
  text-decoration: underline;
}
.content .mainbar div.img {
  float: left;
  padding: 10px 0 0;
}
.content .mainbar div.img img {
  border: none;
  padding: 0;
}
.content .mainbar .article {
  margin: 0 0 24px;
  padding: 0 0 20px;
}
.content .mainbar .post_content {
  float: right;
  padding-right: 10px;
  width: 440px;
}
.content .mainbar .post_content strong {
  font-weight: bold;
}
p.spec {
  padding: 0 0 16px;
}
p.infopost {
  background: #7a9206;
  border-radius: 4px;
  color: #ecf39a;
  margin: 0 0 6px;
  padding: 3px 10px 4px;
}
p.infopost a {
  color: #fff;
  font-weight: normal;
  padding: 0 2px;
  text-decoration: none;
}
p.infopost a:hover {
  text-decoration: underline;
}
p.infopost a.com span {
  font-weight: bold;
}
p.infopost a.com:hover {
  text-decoration: underline;
}
.content .mainbar a.rm {
  color: #fff;
  display: block;
  float: left;
  font-size: 13px;
  font-weight: bold;
  height: 16px;
  line-height: 16px;
  padding: 8px 0 9px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  width: 95px;
}
.content .mainbar a.rm:hover {
  text-decoration: none;
}
/* sidebar */
.content {
  margin: 0;
  padding: 0;
}
.sidebar {
  float: right;
  margin: 0;
  padding: 0;
  width: 240px;
}
.content .sidebar .gadget {
  margin: 0 0 24px;
  padding: 0;
}
ul.sb_menu,
ul.ex_menu {
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.sb_menu li {
  list-style: none;
  margin: 0;
}
ul.ex_menu li {
  list-style: none;
  margin: 0;
}
ul.sb_menu li {
  padding: 10px 0;
}
ul.ex_menu li {
  padding: 10px 0;
}
ul.sb_menu li a {
  color: #8a8a8a;
  font-size: 13px;
  margin-left: -16px;
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  text-transform: none;
}
ul.ex_menu li a {
  color: #8a8a8a;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}
ul.sb_menu li a:hover,
ul.ex_menu li a:hover {
  color: #809712;
  font-weight: bold;
  text-decoration: none;
}
/* footer */
.fr_bottom {
  background: #eee;
}
.fr_bottom_resize {
  color: #3f3f3f;
  margin: 0 auto;
  padding: 32px 15px 12px;
  width: 920px;
}
.fr_bottom h2 {
  padding: 0 0 8px;
}
.fr_bottom h2 small {
  color: #3f3f3f;
  display: block;
  font-size: 12px;
  font-weight: normal;
  padding: 4px 0 0;
  text-transform: none;
}
.fr_bottom img.gal {
  background: none;
  border: 1px solid #ccc;
  margin: 8px 8px 0 0;
  padding: 3px;
}
.fr_bottom .col {
  float: left;
  margin: 0;
}
.fr_bottom .c1 {
  padding: 0 16px 0 0;
  width: 280px;
}
.fr_bottom .c2 {
  padding: 0 36px 0 16px;
  width: 280px;
}
.fr_bottom .c3 {
  padding: 0 0 0 16px;
  width: 274px;
}
.fr_bottom .fr_bottom_ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fr_bottom .fr_bottom_ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fr_bottom .fr_bottom_ul li a {
  background: url(../images/li.gif) no-repeat left center;
  color: #809712;
  display: block;
  margin: 0;
  padding: 2px 0 2px 12px;
  text-decoration: none;
}
.fr_bottom .fr_bottom_ul li a:hover {
  background: url(../images/li.gif) no-repeat left center;
  color: #809712;
  font-weight: normal;
  text-decoration: underline;
}
.fr_bottom p.contact_info {
  line-height: 1.8em;
}
.fr_bottom p.contact_info a {
  color: #809712;
  font-weight: normal;
  text-decoration: underline;
}
.fr_bottom p.contact_info span {
  display: block;
  float: left;
  font-weight: bold;
  width: 74px;
}
.footer {
  background: #565449;
  padding: 0;
}
.footer_resize {
  color: #fff;
  margin: 0 auto;
  padding: 0 15px;
  width: 920px;
}
.footer p.lf {
  line-height: 1.5em;
  margin: 0;
  padding: 24px 0;
  text-align: left;
  width: auto;
}
.footer p.lf a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.footer p.lf a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer p.lf span {
  float: right;
}
.status {
  background-color: #cffcd0;
  border: 1px solid #33a333;
  color: #222200;
}
